/* BUBLE WING */

.bubbles{
  position: absolute;
  top: 0;
  display: flex;

}
.bubbles span{

  width: 30px;
  height: 30px;
  background: var(--change-100);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgb(255, 167, 116, 0.5),
  0 0 50px var(--change-100),
  0 0 100px var(--change-100) ;
  animation: bubble-animation calc(180s / var(--speed)) linear infinite;
}

@keyframes bubble-animation {
  0%{
      transform: translateY(100vh) scale(0.2);
  }

  100%{
      transform: translateY(-10vh) scale(0.8);
  }

}

.bubbles span:nth-of-type(even){
  background: #FFD07F;
  box-shadow: 0 0 0 10px #FFD07F44,
  0 0 50px #FFD07F,
  0 0 100px #FFD07F ;
}
